.todo-card {
  margin-top: 15px;
}

.todo-card.high .mat-card-title {
  font-size: 30px;
}

.todo-card.normal .mat-card-title {
  font-size: 22px;
}

.todo-card.low .mat-card-title {
  font-size: 17px;
}

.todo-card.done {
  opacity: 0.5;
}

.creation-date {
  font-size: 13px;
}
